<?xml version="1.0" encoding="utf-8"?>
<Configuration monitorInterval="30">
    <Properties>
        <Property name="APP_NAME">invoice-experience-api</Property>
        <Property name="APP_LOGPATH">${sys:mule.home}/../logs/apps/</Property>
    </Properties>
    
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p %d [%t] [event: %X{correlationId}] %c: %m%n" />
        </Console>
        
        <RollingFile name="RollingFile" fileName="${APP_LOGPATH}/${APP_NAME}/${APP_NAME}.log"
                     filePattern="${APP_LOGPATH}/${APP_NAME}/${APP_NAME}-%d{yyyy-MM-dd}-%i.log.zip">
            <PatternLayout pattern="%-5p %d [%t] [event: %X{correlationId}] %c: %m%n" />
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="200 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="100">
                <Delete basePath="${APP_LOGPATH}/${APP_NAME}" maxDepth="1">
                    <IfFileName glob="${APP_NAME}*" />
                    <IfLastModified age="30d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    
    <Loggers>
        <!-- Http Logger shows wire traffic on DEBUG. -->
        <!--AsyncLogger name="org.mule.service.http.impl.service.HttpMessageLogger" level="DEBUG" /-->
        <AsyncLogger name="org.mule.service.http" level="WARN"/>
        <AsyncLogger name="org.mule.extension.http" level="WARN"/>

        <!-- Mule logger -->
        <AsyncLogger name="org.mule.runtime.core.internal.processor.LoggerMessageProcessor" level="INFO"/>

        <AsyncRoot level="INFO">
            <AppenderRef ref="RollingFile" />
        </AsyncRoot>
    </Loggers>
</Configuration>